body {
    margin: 0;
    padding: 0;
}
.header {
    background-color: #BDE1E0;
    padding: 0.9rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__hamburguer {
        background-color: transparent;
        border: transparent;
        display: none;
        @media (max-width: 800px) {
            display: inline-block;
        }
    }
    &__hamburguer i {
        color: #4f5e9c;
        font-size: 1.3rem;
        margin-right: 1rem;
    }
    &__ancor {
        @media (max-width: 800px) {
            display: none;
        }
    }
    &__link {
        text-decoration: none;
        color: #787878;
        font-weight: bold;
        font-size: 1.3rem;
        &:hover {
            text-decoration: underline;
        }

        &:not(last-child) {
            margin-right: 2rem;
        }
    }
    &__icon {
        margin-left: 1.5rem;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
    }
}
.main {
    background-image: url(./images/fondo.jpg);
    background-size: cover;
    text-align: center;
    height: calc(100vh - 69px);
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__title {
        margin: 0;
        font-size: 3.4rem;
        color: #4c5da6;
    }
}

