$backgroundGrey: #F8F5F0;
$lightPink: #844A28;
$baseFontSize: 16;
@function px2rem($px){
    @return $px / $baseFontSize * 1rem;
}
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Bold.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-ExtraLight.ttf') format("truetype");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Medium.ttf') format("truetype");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Regular.ttf') format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('./fonts//Raleway-SemiBold.ttf') format("truetype");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'Raleway';
    src: url('./fonts/Raleway-Thin.ttf') format("truetype");
    font-weight: 100;
    font-style: normal;
}
html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    padding: 0;
}
.header {
    z-index: 100;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: px2rem(26);
    border-bottom: px2rem(2) solid rgba(176,176,176, 0.3);
    padding: px2rem(9.6) px2rem(40);
    background-color: transparent;
    left: 0;
    right: 0;
    transition: 1s;

    &__hamburguer {
        background-color: transparent;
        border: transparent;
        display: none;
        @media (max-width: 800px) {
            display: inline-block;
        }
    }
    &__hamburguer i {
        color: black;
        font-size: px2rem(20.8);
        transition: all 0.3s linear;
        cursor: pointer;
        &:hover {
            color: white;
            transform: rotate(360deg);
        }
    }
    &__nav {
        @media (max-width: 800px) {
            padding: 0 px2rem(32);
            position: fixed;
            right: -100%;
            bottom: 0;
            transition: 1s;
            background-color: white;
            top: px2rem(77);
        }
    }
    &__ancors {
        padding: 0;
        display: flex;
        letter-spacing: px2rem(1);
        @media (max-width: 800px) {
            display: flex;
            flex-direction: column;
            text-align: justify;
        }
     
    }
    &__link {
        text-decoration: none;
        color: black;
        font-weight: bold;
        font-size: px2rem(20.8);
        &:not(:last-child) {
            margin-right: px2rem(20.8);
        }
        &:hover {
            text-decoration: underline;
            color: white;
            transition: 1s;
        }
        @media (max-width: 800px) {
            margin: px2rem(20.8) 0 px2rem(16);
        }
    }
    &__icon {
        width: px2rem(56);
        height: px2rem(56);
        border-radius: 50%;
    }
}
.main {
    background-image: url(./images/main.jpg);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-size: cover;
    align-items: center;
    flex-direction: column;
    
    &__img {
        height: px2rem(448);
        border-radius: px2rem(32);
    }
    &__title {
        font-size: px2rem(54.4);
        color: $lightPink;
        border: px2rem(2) solid $lightPink;
        padding: px2rem(16) px2rem(48);
        font-style: italic;
        margin: px2rem(176) 0 px2rem(48);
        @media (max-width: 800px) {
            font-size: px2rem(30);
        }
    }
    &__subtitle-container {
        text-align: center;
    }
    
    &__subtitle {
        font-style: italic;
        font-size: px2rem(27.2);
        color: black;
        margin: 0 0 px2rem(16) ;
        border-bottom: px2rem(3.2) solid black;
    }
    &__down {
        color: black;
        font-size: px2rem(32);
        &:hover {
            color: white;
            cursor: pointer;
            transition: 1s;
        }
    }
}
.show-slidebar {
    right: 0;

}
.products {
    padding: px2rem(42) px2rem(59);

    &__container {
        background-color: $backgroundGrey;
        padding: 0 px2rem(48) px2rem(48);
        @media (max-width: 800px) {
            padding: 0;
        }
    }
    &__title {
        color: $lightPink;
        font-style: italic;
        font-size: px2rem(44.8);
        text-align: center;
        margin: 0;
        padding: px2rem(35) 0;
        @media (max-width: 800px) {
            font-size: px2rem(30);
            padding: px2rem(22) px2rem(46);
        }
    }
    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(px2rem(340), 1fr));
        grid-gap: px2rem(32);
    }

    &__img {
        width: 100%;
        height: px2rem(352);
        background-size: cover;
        cursor: pointer;
    }
    &__target {
        position: relative;
    }
    &__info {
        position: absolute;
        top: px2rem(42);
        left: px2rem(30);
        display: flex;
        flex-direction: column;
    }
    &__name {
        font-size: px2rem(29);
        font-family: 'Raleway';
        color: $lightPink;
        
    }
    &__span {
        font-size: px2rem(17);
        font-weight: bold;
        font-family: 'Raleway';
        color: $lightPink;
    }
    &__price {
        position: relative;
        font-size: px2rem(70);
        line-height: px2rem(50);
        font-weight: bold;
        font-family: 'Raleway';
        color: $lightPink;
        padding-left: px2rem(14);
        &::before {
            content: "$";
            font-size: px2rem(30);
            position: absolute;
            left: px2rem(-6);
            top: px2rem(-8);
        }
    }
}

.is-scrolled {
    background-color: rgb(176,176,176);
    .header__link {
        color: white;
        @media (max-width: 800px) {
            color: black;
        }
    }
    
}

.carousel {
    padding-bottom: px2rem(30);

    &__container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: px2rem(130);
        align-items: center;
    }
    &__img  {
        width: px2rem(830);
        height: px2rem(490);
        object-fit: cover;
    }
    &__title {
        margin: 0 0 px2rem(16);
        font-family: 'Raleway';
        color: $lightPink;
        font-size: px2rem(48);
        font-style: italic;
    }
    &__a {
        text-decoration: none;
        font-family: 'Raleway';
        color: white;
        background-color: $lightPink;
        border: px2rem(1) solid white;
        padding: px2rem(10) px2rem(68);
        font-size: px2rem(17);
        font-weight: 300;
        cursor: pointer;
        &:hover {
            background-color: white;
            border: px2rem(1) solid $lightPink;
            color: $lightPink;
            font-weight: 700;
            transition: 1s;
        }
    }
    &__arrows {
        text-align: center;
        margin: px2rem(36) 0 0;
    }
    &__btn {
        background: transparent;
        border: none;
    }
    &__arrow {
        color: black;
        margin-right: px2rem(45);
        font-size: px2rem(32);
        &:hover {
            color: $lightPink;
            cursor: pointer;
        }
    }
   
}
.menu {
    background-color: $backgroundGrey;
    font-family: 'Raleway';
    margin: 0 px2rem(61);

    &__title {
        text-align: center;
        color: $lightPink;
        font-weight: 400;
        margin: 0;
        padding: px2rem(38) 0;
        font-size: px2rem(33);
    }
    &__buttons {
        text-align: center;
    }
    &__filter-btn {
        border: px2rem(1) solid $lightPink;
        background-color: white;
        color: $lightPink;
        padding: px2rem(7) px2rem(20);
        font-size: px2rem(18);
        &:not(:last-child) {
            margin-right: px2rem(65);
        }
        &:hover {
            background-color: $lightPink;
            border: px2rem(1) solid $lightPink;
            color: white;
            transition: 1s;
        }
    }
    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: px2rem(34) px2rem(32);
        text-align: center;
        padding: px2rem(53) px2rem(60);

    }
    &__img {
        width: 100%;
        height: px2rem(268);
        object-fit: cover;
    }
    &__h4 {
        color: $lightPink;
        font-size: px2rem(20);
        margin: px2rem(15) 0 px2rem(5);
    }
    &__price {
        color: $lightPink;
        font-size: px2rem(16);
    }
    &__item-text {
        width: px2rem(268);
        text-align: center;
        margin: px2rem(7) auto 0;
        color: $lightPink;
        font-weight: 400;
    }
}