body {
    margin: 0;
    padding: 0;
}
.header {
    background-color: #3A6073;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__link {
        text-decoration: none;
        color: white;
        font-size: 1rem;

        &:not(last-child) {
            margin-right: 2rem;
        }
    }
    &__icon {
        margin-left: 1.5rem;
    }
}
.main {
    background-image: url(./images/fondo.jpg);
    background-size: cover;
    text-align: center;
    height: calc(100vh - 112px);
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__title {
        margin: 0;
        font-size: 3.4rem;
        color: #bf13e9;
    }
}

