body {
    margin: 0;
    padding: 0;
}
.header {
    padding: 1rem 2.5rem;
    background-color: #BDE1E0;
    display: flex;
    justify-content: space-between;
    align-items: center;

  
    &__hamburguer {
        background-color: transparent;
        border: transparent;
        display: none;
        @media (max-width: 800px) {
            display: inline-block;
        }
    }
    &__hamburguer i {
        color: #4f5e9c;
        font-size: 1.3rem;
        transition: all 0.3s linear;
        &:hover {
            color: #ee8e3f;
            transform: rotate(360deg);
        }
    }
    &__nav{
        @media (max-width: 800px) {
            padding: 0 2rem;
            background-color: #BDE1E0;
            position: fixed;
            right: -180px;
            top: 72px;
            bottom: 0;
            background: #BDE1E0;
            transition: 1s;
        }
    }
    &__ancors {
        padding: 0;
        display: flex;
        letter-spacing: 0.25rem;
        @media (max-width: 800px) {
            display: flex;
            flex-direction: column;
            text-align: justify;
        }
     
    }
    &__link {
        text-decoration: none;
        color: #787878;
        font-weight: bold;
        font-size: 1.3rem;
        &:hover {
            text-decoration: underline;
            color: #1F8FD8;
            transition: 1s;
        }
        @media (max-width: 800px) {
            margin: 1.3rem 0 1rem;
        }
    }
    &__icon {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
    }
}
.main {
    background-image: url(./images/fondo.jpg);
    background-size: cover;
    text-align: center;
    height: calc(100vh - 69px);
    display: flex;
    justify-content: center;
    align-items: center;
    
    &__title {
        margin: 0;
        font-size: 3.4rem;
        color: #4c5da6;
    }
}
.show-slidebar {
    right: 0;

}


